#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
%:
	dh $@ --with autotools-dev

override_dh_clean:
	dh_clean
	rm -rf Makefile Linux_3.11.0-14-generic_i686.d/ testdata.d/ docs/zzipdoc/*.pyc

override_dh_install:
	cd $(CURDIR)/debian/libzzip-dev/usr/share/man/ \
		&& tar xf $(CURDIR)/docs/zziplib-manpages.tar
	cd $(CURDIR)/debian/libzzip-dev/usr/share/man/man3/ \
		&& patch -p1 < $(CURDIR)/debian/man3.patch
	dh_install
	# empty dependency_libs in .la files
	sed -i "/dependency_libs/ s/'.*'/''/" `find debian/ -name '*.la'`
